body {
    background-color: #E7E7DE;
    color: #0F3057;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

::selection {
    background: #008891; /* Цвет фона */
    color: #E7E7DE; /* Цвет текста */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px;
}

.header>a {
    display: flex;
    text-decoration: none;

    float: right;
}

.indent {
    width: 10%;
}

input[type=button], input[type=submit], input[type=reset],
.button {
    color: #E7E7DE;
    background-color: #008891;
    border: #008891 1px solid;
    padding: 10px 15px 10px 15px;

    border-radius: 20px;
    
    transition: 0.3s ease-in-out;
}

input[type=submit], input[type=reset] {
    width: 130px;
    white-space: normal;
}


.button:hover {
    color: #008891;
    background-color: #E7E7DE;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task-main {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;

    width: 1000px;

    margin: 50px 0 50px 0;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.tasks-search {
    margin-top: 15px;
}

.search-input {
    border: #008891 1px solid;

    border-radius: 20px;
    padding: 10px 15px 10px 15px;

    width: 420px;

    transition: 0.3s ease-in-out;
}

.search-input::placeholder {
    color: #008891;
}

.search-input:hover,
.search-input:focus {
    box-shadow: 1px 1px #008891;
}

.button.search-button {
    position: relative;
    
    margin-left: -5px;
    width: 50px;
}

.search-image {
    margin-left: 2px;
}


.todo-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin: 10px 0 10px 0;

    width: 600px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
}

.checkbox input {
    position: absolute;
    width: 0;
    left: 50px;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.checkbox .checkmark {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #E7E7DE;
    border-radius: 3px;
    outline: 1px solid #acacac;
    transition: all 0.2s ease;
}

.checkbox:hover .checkmark {
    background: #E7E7DE;
    transition: all 0.2s ease;
}

.checkbox input:checked ~.checkmark {
    background: #008891;
    outline: 1px solid #008891;
}

.checkbox input[type="radio"] ~ .checkmark {
    border-radius: 50%;
}

.checkbox .checkmark::after {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
    top: 40%;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -moz-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease;
}

.checkbox input:checked~.checkmark::after {
    opacity: 1;
    transition: all 0.2s ease;
}

.task-date {
    color: #797974;
    font-size: smaller;

    margin-top: 4px;
}

.task-buttons {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.task-button {
    margin: 0 5px 0 5px;
}

.add-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;

    width: 330px;
}

.add-task-inputs {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

}

.add-task-text-input {
    border:  #E7E7DE 1px solid;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;

    width: 90%;
    height: 150px;
   
    overflow: hidden;
    resize: none;
    
    outline: none; 

    transition: 0.3s ease-in-out;
}

.add-task-text-input:hover,
.add-task-text-input:focus {
    border: #008891 1px solid;
}

input:-internal-autofill-selected,
.add-task-date-input {
    border-bottom: #E7E7DE 1px solid;
    padding: 10px 15px 10px 15px;

    transition: 0.3s ease-in-out;
    width: 90%;
}

.add-task-date-input:hover,
.add-task-date-input:focus {
    background-color: #E7E7DE;
    border-bottom: #008891 1px solid;
}

.add-task-inputs>input {
    margin: 5px 0 5px 0;
}

#colors {
    color: #0F3057;
    color: #00587A;
    color: #008891;
    color: #CDCBA6;
    color: #E7E7DE;
}
