{% comment %} {% user_tasks request as tasks %} {% endcomment %}
{% if tasks.exists %}
{% for task in tasks %}
    <div class="todo-list-item">
        <div class="task-text">
            <p class="{% if task.is_done %}text-decoration-line-through{% endif %}">
                {% comment %} {% if task.headline %} {% endcomment %}
                    {% comment %} {{ task.headline }} {% endcomment %}
                {% comment %} {% else %} {% endcomment %}
                    {{ task.text }}    
                {% comment %} {% endif %} {% endcomment %}
            </p>
            <p class="task-date">
                {% comment %} {% if task.bodyline %}
                    {{ task.bodyline }}
                {% else %} {% endcomment %}
                    {{ task.date }}    
                {% comment %} {% endif %} {% endcomment %}
            </p>
        </div>
        <div class="task-buttons">
            <a class="task-is-done-update" href="{% url "tasks:update_task" %}" 
            data-task-is-done="{{ task.is_done }}" data-task-id="{{ task.id }}" data-q={{ request.GET.q }}>{% csrf_token %}
                <label class="checkbox task-button" for="{{ task.id }}">
                    <input type="checkbox" name="color" {% if task.is_done %}checked{% endif %} id="{{ task.id }}">
                    <span class="checkmark"></span>
                </label>
            </a>
            <a href="{% url "tasks:delete_task" %}" class="button task-button remove-task"
            data-task-id="{{ task.id }}" data-q={% if request.POST.q %}{{ request.POST.q }}{% else %}{{ request.GET.q }}{% endif %}>{% csrf_token %}Удалить</a>
            {% comment %} <input type="hidden" name="{{ task.id }}"> {% endcomment %}
            <input type="hidden" name="{{ request.GET.q }}">
        </div>
    </div>
{% endfor %}
{% else %}
<p>Упс, у вас не задач</p>
{% endif %}