{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static "styles/reset.css" %}">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    
    <title>Home</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="indent"></div>
            <h1>Список дел</h1>
            <a class="button" href="login.html">Войти</a>
        </div>
    </header>

    <main>
        <div class="main">

            <form class="tasks-search">
                <input class="search-input" type="search" placeholder="Поиск">
                <button class="button search-button"><img class="search-image" src="{% static "images/search.png" %}" alt="search"></button>
            </form>

            <div class="task-main">
                <div class="todo-list">
                    {% for task in tasks %}
                        <div class="todo-list-item">
                            <div class="task-text">
                                <p>{{ task.text }}</p>
                                <p class="task-date">{{ task.date }}</p>
                            </div>
                            <form class="task-buttons">
                                <label class="checkbox task-button" for="id_done1">
                                    <input type="checkbox" name="color" {% if task.is_done %}checked{% endif %}  value="" id="id_done1">
                                    <span class="checkmark"></span>
                                </label>
                                <button class="button task-button">Удалить</button>
                            </form>
                        </div>
                    {% endfor %}
                    {% comment %} <div class="todo-list-item">
                        <div class="task-text">
                            <p>Задача</p>
                            <p class="task-date">Дата задачи</p>
                        </div>
                        <div class="task-buttons">
                            <label class="checkbox task-button" for="id_done1">
                                <input type="checkbox" name="color" checked value="" id="id_done1">
                                <span class="checkmark"></span>
                            </label>
                            <button class="button task-button">Удалить</button>
                        </div>
                    </div> {% endcomment %}
                </div>

                <from class="add-task">
                    <div class="add-task-inputs">
                        <textarea class="task-text add-task-text-input" type="text" placeholder="Текст задачи"></textarea>
                        <input class="task-date add-task-data-input" type="text" placeholder="Дата задачи">
                    </div>
                    <button class="button">Добавить задачу</button>
                </from>
            </div>
        </div>
    </main>
</body>
</html>